<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Full Post - <%=forumName%></title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <script src="script.js"></script>
</head>

<body>
    <h1>Full Post</h1>

    <div class="auth-links">
        <!-- show welcome message and logout button if user is logged in -->
        <% if (userLoggedIn) { %>
        <span class="welcome-message">Welcome back, <%= username || '' %></span>
        <a href="/logout" class="logout-link">
            <span class="desktop-text">Logout</span>
            <i class="mobile-icon fas fa-sign-out-alt"> </i>
        </a>
        <% } else { %>
        <!-- show login and register links if user is not logged in -->
        <a href="/login" class="login-link">
            <span class="desktop-text">Login</span>
            <i class="mobile-icon fas fa-sign-in-alt"> </i>
        </a>
        <a href="/register" class="register-link">
            <span class="desktop-text">Register</span>
            <i class="mobile-icon fas fa-user-plus"> </i>
        </a>
        <% } %>
    </div>

    <nav class="navigation">
        <a href="/">Home</a>
        <a href="/forum">Forum</a>
        <a href="/about">About</a>
        <a href="/characters">Characters</a>
        <a href="/users">Users</a>
        <div class="dropdown">
            <button class="dropbtn" onclick="toggleMenu()">Menu &#9662;</button>
            <div class="dropdown-content">
                <a href="/">Home</a>
                <a href="/forum">Forum</a>
                <a href="/about">About</a>
                <a href="/characters">Characters</a>
                <a href="/users">Users</a>
                <a href="/search">Search</a>
                <a href="/weather">Weather</a>
                <a href="/tvShows">TV Shows</a>
                <a href="/api">Api</a>
            </div>
        </div>
    </nav><br>
    <nav class="navigation">
        <a href="/search">Search</a>
        <a href="/weather">Weather</a>
        <a href="/tvShows">TV Shows</a>
        <a href="/api">Api</a>
    </nav>

    <div class="thread-section">
        <h2><%= thread.title %></h2>
        <h4>Posted by: <%= thread.username %></h4>
    </div>
    <div class="thread-section">
        <h4 class="tag-heading"><strong>Tag: <a href="/tag/<%= thread.tag %>"><%= thread.tag %></a></strong>
            <br><br><% if (thread.edited) { %> (post was edited) <% } %>
        </h4>
        <%= thread.content %>
    </div>

    <!-- display the edit button and a delete button with a confirmation dialog -->
    <% if (userLoggedIn && username === thread.username) { %>
    <div class="button-container">
        <form action="/edit-thread/<%= thread.id %>" method="GET">
            <button type="submit" class="resize-button">Edit Post</button>
        </form>
        <form action="/delete-thread/<%= thread.id %>" method="POST" onsubmit="return confirm('Are you sure you want to delete this post?');">
            <button type="submit" class="resize-button">Delete Post</button>
        </form>
    </div>
    <% } %>

    <div class="button-container">
        <form action="/forum/<%= thread.id %>/thumbsUp" method="POST">
            <button type="submit">Thumbs up (<%= thread.thumbs_up %>)</button>
        </form>
        <form action="/forum/<%= thread.id %>/thumbsDown" method="POST">
            <button type="submit">Thumbs down (<%= thread.thumbs_down %>)</button>
        </form>
    </div>
</body>

</html>